<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1> Lesbian and Bi Youtubers Reviewed</h1>
    <p> Don't know who to watch? Wanna find out who's new and popping? Sign Up and get more info on all the L+B youtubers out in there in the big wide world of youtube </p>
    <p><%= link_to "Sign Up To Write Your Own Review", new_user_registration_path, class:"btn btn-primary btn-lg" %></p>
  </div>
<% end %>


<div class="row">
  <% @youtubers.each do |youtuber| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag youtuber.image.url(:medium), class:'image'), youtuber %>
      </div>
    </div>
  <% end %>
</div>