/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-image: url(/assets/background.jpg);
}

.review_title {
	margin:0 0 20px 0;
}

.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}

.navbar-default {
	background-color: #FFFFFF;
	.navbar-brand {
		color: #4A4A4A;
		font-weight: bold;
		font-family: 'Roboto Mono', monospace;
	}

	.navbar-nav {
		color: #4A4A4A;
		font-family: 'Roboto Mono', monospace;
	}
}

.btn {
	font-family: 'Roboto Mono', monospace;
}

.wrap-user {
	width: 560px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
  margin-right:auto; 
	margin-left:auto;
  box-shadow: 0 2px 20px 5px black;
}

.user-form-title {
	font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  color: #4A4A4A;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-user-form {
	width: 100%;
  justify-content: space-between;
  padding: 20px 20px 50px 130px;
}
.field input#user_remember_me{
	width: 60px;
}