// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category{
	display: block;
	float: left;
}

.cat-links {
	text-transform: uppercase;
	font-size: 120px;
	font-weight: bolder;
	color: white;
	font-family: 'Roboto Mono', monospace;
	margin: 20px;
	text-shadow: 5px 2px #555;
}

.cat-empty{
	color: white;
}

.more-space{
	margin-bottom: 20px !important;
}
