// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories-title {
	font-family: 'Roboto Mono', monospace;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 2px 6px 10px black;
}

.lik:hover {
	text-decoration: none;
}

.category{
	background-image: url(/assets/pride.jpg);
	border: 1px solid grey;
	box-shadow: 0 2px 10px 2px black;
	border-radius: 5px;
	height: 160px;
	width: 300px;
	float: left;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 50px;
	padding: 5px;
	display: block;
}

.cat-links {
	font-size: 50px;
	display: block;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 20px;
    width: 50%;
    font-family: 'Roboto Mono', monospace;
    color: #4A4A4A;
}