// Place all the styles related to the Youtubers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
	text-align: center;
}

.jumbotron .btn {
	position: center;
	margin-top: 25px !important;
}

#banner {
  text-align: center;
  background-color: #222222;
  color: white;
  font-family: 'Roboto Mono', monospace;
  padding: 20px;
  margin-bottom: 20px;
}

#banner h1 {
  font-size: 40px;
}

#banner p {
  font-size: 17px;
}

/////// Add Youtuber Form //////
.wrap-edit {
  color: #fefefe;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(254, 254, 254);
  border-radius: 10px 10px 10px 10px;
  background-image: -moz-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
  width: 90%;
  min-width: 400px;
  max-width: 700px;
  margin: 40px auto 60px;
  padding: 25px;
  
}

.wrap-edit .input-container {
    margin: 10px;
}

.edit-form-title{
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin-top: 50px;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wrap-edit input::-webkit-input-placeholder {
    color: #fefefe;
    opacity: 1;
}

.wrap-edit input:focus::-webkit-input-placeholder {
    color: #111;
    opacity: .5;
    transition: all 0.3s ease;
}

.wrap-edit input{
  outline: 0;
  width: 50%;
  font-weight: 700;
  font-size: 1em;
  padding: 10px;
  border-width: 2px;
  border-color: rgba(247, 247, 247, .3);
  border-style: solid;
  background: url('transparent');
}
.wrap-edit input:focus{
  background: white;
  transition: all 0.3s ease;
  color: #222;
  width: 50%;
}

.wrap-edit input#youtuber_image{
  margin-left: 25%;
}

.wrap-edit textarea::-webkit-input-placeholder {
    color: #fefefe;
    opacity: 1;
}

.wrap-edit textarea:focus::-webkit-input-placeholder {
    color: #111;
    opacity: .5;
    transition: all 0.3s ease;
}

.wrap-edit textarea{
  outline: 0;
  width: 50%;
  font-weight: 700;
  font-size: 1em;
  padding: 10px;
  border-width: 2px;
  border-color: rgba(247, 247, 247, .3);
  border-style: solid;
  background: url('transparent');
}
.wrap-edit textarea:focus{
  background: white;
  transition: all 0.3s ease;
  color: #222;
  width: 50%;
}

.wrap-edit select{
    height: 25px;
    width: 50%;
    color: black;
}

.wrap-edit input[type="submit"] {
    font-weight: 700;
    font-size: 1.8em;
    color: #111;
    background: #fefefe;
    box-shadow: 0px 4px 0px 0px #d26a60;
    border-style: none;
    padding: 10px 50px;
    margin: 25px 0 15px 0;
    position: relative;
    margin-left: 25%;
    display: block;
    transition: all .1s linear;
}

.wrap-edit input[type="submit"]:active {
    box-shadow: 0 2px 0 #d26a60;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
}

.container-form {
  text-align: center;
  margin: 0 auto;
}

.wrap-edit label{
  font-size: 1.2em;
}

////////////////////

// .field {
// 	margin-top: 15px;
// }

// .field input {
// 	width: 220px;
// }

// .field textarea {
// 	width: 220px;
// }

.like {
  text-decoration: none;
  color: red;
}

.like-button a:hover, a:focus {
  text-decoration: none;
  color: red;
}

.likes {
  margin-top: 20px;
  margin-bottom: 7px;
}

.review_title {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 40px;
}

.youtuber-row {
  background-color: #1C1C1C;
  color: white;
  margin-top: 0px;
  padding-bottom: 15px;
}

.youtuber-row h3 {
  text-align: center;
}

.youtube-video{
  padding: 10px;
}

.img-responsive{
  padding-top: 15px;
}

.panel-body{
  padding: 0px !important;
}

.youtuber-row td{
  border-top: none !important;
}

.back-btn {
  position: relative;
}
