// Place all the styles related to the Youtubers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
	text-align: center;
}

.jumbotron .btn {
	position: center;
	margin-top: 25px !important;
}

#banner {
  text-align: center;
  background-color: #222222;
  color: white;
  font-family: 'Roboto Mono', monospace;
  padding: 20px;
  margin-bottom: 20px;
}

#banner h1 {
  font-size: 40px;
}

#banner p {
  font-size: 17px;
}

/////// Add Youtuber Form //////
.wrap-edit {
  color: #fefefe;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(254, 254, 254);
  border-radius: 10px 10px 10px 10px;
  background-image: -moz-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
  width: 90%;
  min-width: 400px;
  max-width: 700px;
  margin: 40px auto 60px;
  padding: 25px;
  
}

.edit-form-title{
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.wrap-edit select{
    height: 25px;
    width: 50%;
    color: black;
}

.wrap-edit textarea{
  width: 50%;
}
////////////////////

.container-form {
  text-align: center;
  margin: 0 auto;
	// width: 100%;
 //  justify-content: space-between;
 //  padding: 20px 20px 50px 130px;
}

// .field {
// 	margin-top: 15px;
// }

// .field input {
// 	width: 220px;
// }

// .field textarea {
// 	width: 220px;
// }

.like {
  text-decoration: none;
  color: red;
}

.like-button a:hover, a:focus {
  text-decoration: none;
  color: red;
}

.likes {
  margin-top: 20px;
  margin-bottom: 7px;
}

.review_title {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 40px;
}

.youtuber-row {
  background-color: #1C1C1C;
  color: white;
  margin-top: 0px;
  padding-bottom: 15px;
}

.youtuber-row h3 {
  text-align: center;
}

.youtube-video{
  padding: 10px;
}

.img-responsive{
  padding-top: 15px;
}

.panel-body{
  padding: 0px !important;
}

.youtuber-row td{
  border-top: none !important;
}

.back-btn {
  position: relative;
}
