<div class="categories-title">
	<span>Categories</span>
</div>
<div class="cat-row">
	<% for category in @categories do %>
			<div class="category">
	    		<%= link_to category.name, category, class: "cat-links" %>
			</div>
	<% end %>
</div>
