<footer class="footer">

    <h3>Stay connected with us</h3>

    <div class="container footer-bot">

        <div class="row">

           <!-- logo -->

           <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

                <%= image_tag "rainbowrank.png" %>
               <p class="copy-right">&copy; Reserved RainbowRank 2018.</p>

           </div>

           <!-- logo -->

           <!-- address -->

           <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">

               <address><p>Somewhere</p>
                <p>Live Love Laugh</p></address>

            </div>

            <!-- address -->

            <!-- email -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">

                <p><a href="mailto:rainbowrank@gmail.com">rainbowrank@gmail.com</a></p>

                <p>80 (0) 81 35 </p>

            </div>

            <!-- email -->

            <!-- social -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">

              <ul class="social">

               <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

               <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

               <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>

               <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

               <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>

           </ul>

           <p class="made-by">Made with by <a href="https://armanni-ac.fyi" target="_blank">Armanni A-C | Developer </a><p>

           </div>

           <!-- social -->

       </div>

   </div>

</footer>

<!-- footer -->
